*{
    margin:0px;
    padding:0px;
}
/*-- banner --*/
.w3-banner-top{
    background: url(../images/autor/ban6666.jpg) no-repeat 0px 0px;
    background-size: cover;
	min-height:750px;
	    position: relative;
}
.title-w3ls h4{
    font-size:50px;
    margin-top:50px;
    margin-bottom:50px;
    text-align:center;
    color:#333;
}
.agileinfo-dot{
    background: url(../images/autor/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	min-height: 750px;
}
.col-md-6.w3-banner-grid-left {
    width: 50%;
    float: left;
}
.col-md-6.w3-banner-grid-right{
    width: 50%;
    float: left;
}
.w3-banner-img {
    text-align: center;
}
ul.address {
    margin-top: 1.5em;
      border-top: 2px dotted #00bcd4;
    padding-top: 0.5em;
}
ul.address li ul.agileits-address-text li {
    display: inline-block;
    font-size: 1em;
    color:rgba(255, 255, 255, 0.76);
    margin-top: 1em;
    font-weight: 600;
    font-family: 'Text Me One', sans-serif;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
    width: 20%;
}
.w3-banner-grids {
    padding: 9em 0 0 0;
}
.w3-banner-img img {
    width: 133px;
    height: 133px;
    border-radius: 50%;
}
.w3-right-addres-1 li {
    list-style-type: none;
}
.w3-banner-text p {
    width: 50%;
}
ul.agileits-address-text li a {
    color:rgba(255, 255, 255, 0.76);
}
.w3-banner-img h3 {
    color: #fff;
    font-size: 2.8em;
    font-weight: 600;
    letter-spacing:1px;
   font-family: 'Raleway', sans-serif;
}
.w3-banner-img p {
    color: #ffc53e;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
	letter-spacing: 2px;
}
.w3-banner-grid-right h3 {
  font-size: 3em;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.w3-banner-grid-right p {
    color:#c5c2c2;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
}
ul.agileits-address-text li span {
    margin: 0.2em;
    color: #d9edf7;
}
.w3-banner-img {
  border: 5px solid rgba(238, 238, 238, 0.53);
    width: 400px;
    height: 400px;
    padding: 63px;
    margin: 0 auto;
}
li.agile-it-adress-left b {
    color: #fff;
}
/*-- banner --*/

/*-- skills --*/
.skills{
    background-color:#e6e6e6;
    
	min-height:500px;
	}
.skills-bar .bar_group__bar.thin::before, .skills-bar .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

.skills-bar .bar_group__bar.thin::before {
  width: 100%;
  height: 12px;
  border-radius: 2px;
  background: #E4E4E4;
}

.skills-bar .bar_group__bar.thin {
  width: 0%;
  height: 12px;
  border-radius: 2px;
  margin-bottom: 10px;
  -webkit-transition: width 1s;
          transition: width 1s;
		  background: #f4c4f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.skills-bar .b_label, .skills-bar .bar_label_min, .skills-bar .bar_label_max, .skills-bar .b_tooltip span {
    color: #000;
    font-size: .9em;
	font-weight:600;
}
.skills-bar .bar_label_max {
    position: absolute;
    right: 0;
    margin: 1em 0 0 0;
}
.skills-bar .bar_label_min {
    position: absolute;
    left: 0;
    margin: 1em 0 0 0;
}
.skills-bar .b_tooltip {
  -webkit-transition: all 1s;
          transition: all 1s;
  position: relative;
  float: left;
  left: 100%;
  padding: 4px 10px 7px 10px;
  background-color: #fd0202;
  -webkit-transform: translateX(-50%) translateY(-30px);
  -ms-transform: translateX(-50%) translateY(-30px);
  transform: translateX(-50%) translateY(-30px);
  border-radius: 2px;
  line-height: 11px;
}
.skills-bar .b_tooltip span {
  color: white;
}
.skills-bar .b_tooltip--tri {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgb(236, 25, 68) transparent transparent transparent;
}
.skills-bar .bar_group__bar:nth-of-type(1) {
   background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
}
    

.skills-bar .bar_group__bar:nth-of-type(2) {
 background: #f4c4f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.skills-bar .bar_group__bar:nth-of-type(3) {
  background: #FF4E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.skills-bar .bar_group__bar:nth-of-type(4) {
  background: #77A1D3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.skills-bar .bar_group__bar:nth-of-type(5) {
  background: #00bdbd;
}
.bar_group {
  position: relative;
}
/*-- //skills --*/

/*-- /responsive design --*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
	.w3-banner-top {
    background: url(../images/autor/ban6666.jpg) no-repeat -194px 0px;
    background-size: cover;
	}
}
@media(max-width:1080px){
	.w3-banner-text p {
    width: 67%;
	}
	.w3-about-grid-right1 {
    margin: 0em 0;
	}
	.w3-about-grid-left2 h4 {
    background: #f9a300;
    width: 21%;
	}
	.w3-edu-info-right2 h3 {
    font-size: 1.8em;
    letter-spacing: 1px;
	}
	.w3-edu-info-right2 p {
    color: #8a8a8a;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
    width: 68%;
	}
	.jm-item-image {
    width: 250px;
    height: 210px;
	}
	.w3-banner-top {
    background: url(../images/autor/ban6666.jpg) no-repeat -376px 0px;
    background-size: cover;
	}
	.w3-edu-info2 h3 {
    font-size: 1.8em;
    letter-spacing: 1px;
	}
	.jm-item-button {
    left: 29%;
	}
}

@media(max-width:1024px){
	.w3-banner-text p {
    width: 82%;
	}
	.w3-edu-info1 h4 {
    letter-spacing: 1px;
	}
}
@media(max-width:991px){
	.w3-about-grid-left1 {
    width: 40%;
    float: left;
	}
	.col-md-6.w3-about-grid-right1 {
    width: 60%;
    float: left;
	}
	.w3-about-grid-small {
    width: 33.33%;
    float: left;
	}
	.w3-about-grid-left2 {
    width: 60%;
    float: left;
	}
	.w3-about-grid-right2 {
    width: 40%;
    float: left;
	}
	.w3-about-grid-left2 {
    margin: 0em 0 0 0;
	}
	.w3-about-grid-left2 h4 {
    background: #f9a300;
    width: 25%;
	margin: 1em 0 0 0;
	}
	.w3-edu-info1 {
    width: 33.33%;
    float: left;
	}
	.w3-edu-info2 {
    width: 50%;
    float: left;
	}
	.w3-about-grid-left2 h3 {
    letter-spacing: 1px;
	}
	.w3-edu-info-right1 {
    width: 33.33%;
    float: left;
	}
	.w3-edu-info-right2 {
    width: 66%;
    float: left;
	}
	.w3-edu-info-right1 {
    width: 33.33%;
    float: left;
	}
	.w3-edu-grid-left {
    margin-left: 11em;
	}
	.w3-edu-grid-right {
    margin-left: 11em;
	}
	.w3-agile-skills-grid {
    width: 50%;
    float: left;
	}
	.jm-item-image {
    width: 300px;
    height: 300px;
	}
}
@media(max-width:800px){
	.w3-banner-img {
    width: 350px;
    height: 350px;
    margin:0;
	}
	.w3-banner-img h3 {
    font-size: 2.3em;
	}
	.w3-banner-top {
    background: url(../images/autor/ban6666.jpg) no-repeat -637px 0px;
    background-size: cover;
	}
	.w3-edu-grid-left {
    margin-left: 9em;
	}
	.w3-edu-grid-right {
    margin-left: 9em;
	}
}
@media(max-width:768px){
	.w3-banner-text p {
    width: 100%;
	}
}
@media(max-width:736px){
	.w3-about-grid-right1 h3 {
    font-size: 2em;
    letter-spacing: 1px;
    
	}
	.w3-about-grid-right1 h5 {
    letter-spacing: 1px;
	}
	.contact input[type="text"], .contact input[type="email"] {
    float: none;
	}
	.contact textarea {
    margin-top: 1em;
	}
	.contact-right.agileits-w3layouts {
    padding: 0;
	}
	.w3-edu-grid-header h3 {
    font-size: 2.5em;
	}
	.contact input[type="submit"] {
    width: 25%;
    float: none;
    margin: 12px auto 0;
	}
}
@media(max-width:667px){
	.w3-banner-img {
    width: 290px;
    height: 290px;
    margin: 0;
	}
	.w3-banner-img h3 {
    font-size: 2em;
	}
	.w3-banner-img {
    padding: 35px;
	}
	.w3-about-grid-right1 h3 {
    font-size: 1.8em;
    letter-spacing: 1px;
	}
	.w3-about-grid-left2 h3 {
    letter-spacing: 1px;
    font-size: 1.8em;
	}
	.w3-about-grid-left2 h4 {
    width: 27%;
	}
	.jm-item-image {
    width: 250px;
    height: 250px;
	}
}
@media(max-width:640px){
	.w3-banner-text p {
    width: 92%;
	}
	ul.agileits-address-text li span {
    margin: 0.5em;
	}
	.w3-about-grid-right1 h5 {
    letter-spacing: 0.5px;
	}
	.w3-edu-grid-left {
    margin-left: 8em;
	}
	.w3-edu-grid-right {
    margin-left: 8em;
	}
	.w3-banner-grids {
    padding: 7em 0 0 0;
	}
	.w3-banner-top {
    background: url(../images/autor/ban6666.jpg) no-repeat -739px 0px;
    background-size: cover;
	}
}
@media(max-width:600px){
	.w3-banner-img {
    width: 257px;
    height: 257px;
	}
	.w3-banner-img {
    padding: 22px;
	}
	.w3-banner-text p {
    width: 100%;
	}
	ul.agileits-address-text li span {
    margin: 1em;
	}
	.w3-banner-top {
    background: url(../images/autor/ban6666.jpg) no-repeat -834px 0px;
    background-size: cover;
	}
	.w3-about-grid-left2 h4 {
    width: 29%;
	}
	.w3-about-grid-right1 h3 {
    font-size: 1.6em;
    letter-spacing: 1px;
	}
	.w3-about-grid-right1 h5 {
    font-size: 1.1em;
	}
	.w3-about-grid-left2 h3 {
    letter-spacing: 0.5px;
    font-size: 1.6em;
	}
	.w3-edu-info-right2 p {
    width: 91%;
	}
	.w3-edu-info2 h3 {
    font-size: 1.7em;
    letter-spacing: 1px;
	}
	.jm-item-image {
    width: 240px;
    height: 200px;
	}
	.w3-edu-grid-left {
    margin-left: 6em;
	}
	.jm-item-button a {
      padding: 10px 7px;
	}
	.title-w3ls h4, .w3ls-heading h3, .w3-gallery-head h3, .w3-about-head h3 {
    font-size: 2.5em;
	}
}
	
@media(max-width:568px){
	.w3-about-grid-left1 {
    width: 100%;
	}
	.col-md-6.w3-about-grid-right1 {
    width: 100%;
	margin: 2em 0 0 0;
	}
	.w3-about-grid-left2 {
    width: 100%;
	}
	.w3-about-grid-right2 {
    width: 100%;
    margin: 2em 0 0 0;
	}
	.w3-about-grid-left2 h4 {
    width: 19%;
	}
	.w3-edu-grid-left {
    margin-left: 5em;
	}
	.w3-edu-grid-right {
    margin-left: 5em;
	}
	.jm-item-image {
    width: 200px;
    height: 200px;
	}
}
@media(max-width:480px){
	.col-md-6.w3-banner-grid-left {
    width: 100%;
    float: left;
	}
	.col-md-6.w3-banner-grid-right {
    width: 100%;
    float: left;
	}
	.w3-banner-img {
    margin: 0 auto;
	}
	.w3-banner-grids {
    padding: 4em 0 0 0;
	}
	.w3-about-grid-left2 h4 {
    width: 22%;
	}
	.w3-edu-info1 {
    width: 100%;
    float: left;
	}
	.w3-edu-info2 {
    width: 100%;
    float: left;
	}
	.w3-edu-info-right1 {
    width: 100%;
    float: left;
	}
	.w3-edu-info-right2 {
    width: 100%;
    float: left;
	}
	.w3-agile-skills-grid {
    width: 100%;
    float: left;
	}
	.w3ls_footer_grid_left {
    float: left;
    width: 100%;
    margin: 0;
    padding: 13px 0px;
	}
	.w3-banner-top {
    background: url(../images/autor/ban6666.jpg) no-repeat -1005px 0px;
    background-size: cover;
	}
	.title-w3ls h4, .w3ls-heading h3, .w3-gallery-head h3, .w3-about-head h3 {
    font-size: 3em;
    color: #00bcd4;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
	}
	.w3-edu-grid-header h3 {
    font-size: 3em;
	}
	.w3-banner-top {
    min-height: 800px;
	}
	.agileinfo-dot {
    min-height: 800px;
	}
	.w3-banner-grid-right h3 {
    font-size: 2.5em;
	}
	.skills, .contact, .gallery, .w3-about {
    padding: 2em 0em;
	}
	.skills-bar, .contact-w3ls, .gallery_gds, .w3-edu-grids, .w3-about-grids {
    padding: 2em 0;
	}
	.jm-item-image {
    width:180px;
    height:180px;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
    color: #1d1b1b;
    cursor: pointer;
    display: inline-block;
    padding: 0px 18px 9px;
    font-size: 18px;
    margin:0;
	}
	.jm-item-button a {
    padding: 10px 6px;
	letter-spacing: 1px;
	}
	.title-w3ls h4, .w3ls-heading h3, .w3-gallery-head h3, .w3-about-head h3 {
    font-size:2.5em;
	}
	.w3-edu-grid-header h3 {
    font-size: 2.5em;
	}
}
@media(max-width:414px){
	.col-md-6.w3-banner-grid-left {
    width: 100%;
    float: left;
	}
	.col-md-6.w3-banner-grid-right {
    width: 100%;
    float: left;
	}
	.w3-banner-img {
    margin: 0 auto;
	}
	.w3-banner-grids {
    padding: 4em 0 0 0;
	}
	.w3-about-grid-left2 h4 {
    width: 27%;
	}
	.w3-edu-grid-left {
	margin-left: 0em;
	}
	.w3-edu-grid-right {
    margin-left: 0;
	}
	.w3-edu-info-right2 p {
    width: 100%;
	}
	.thim-click-to-bottom {
    bottom: 3%;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 0px 13px 9px;
	}
	.jm-item-image {
    width: 330px;
    height: 300px;
	}
	.jm-item-image img {
    display: block;
    width: 330px;
	}
	.w3l_footer {
    padding: 1em 0 4em 0;
	}
	.contact input[type="submit"] {
    width: 32%;
	}
	.cd-stretchy-nav {
    right: 4%;
	}
	.jm-item-button {
    left: 37%;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 11px 29px 10px;
	}
}
@media(max-width:384px){
	.w3-about-grid-right1 h3 {
    font-size: 1.7em;
    letter-spacing: 1px;
	}
	.w3-about-grid-left2 h3 {
    letter-spacing: 1px;
    font-size: 1.6em;
	}
	.w3-banner-top {
    min-height: 800px;
	}
	.agileinfo-dot {
    min-height: 800px;
	}
	.thim-click-to-bottom {
    bottom: 5%;
	}
	.w3-about-grid-left2 h4 {
    width: 29%;
	}
	.w3-about-grid-right1 h5 {
    font-size: 1.2em;
	}
	.jm-item-image {
    width: 303px;
    height: 300px;
	}
	.w3l_footer {
    padding: 1em 0 2em 0;
	}
	.w3l_footer_pos {
    margin-top: 2em;
	}
	.cd-stretchy-nav {
    right: 1.9%;
	}
}
@media(max-width:375px){
	.w3-about-grid-left2 h3 {
    letter-spacing: 1px;
    font-size: 1.5em;
	}
	.w3l_footer_pos {
    margin-top: 2em;
	}
	.jm-item-image {
    width:278px;
    height:250px;
	}
	.w3-about-grid-right1 h5 {
    font-size: 1.2em;
    line-height: 1.5em;
	}
	.w3-about-grid-left2 h3 {
    letter-spacing: 1px;
    font-size: 1.5em;
    line-height: 1.5em;
	}
	.w3-about-grid-right1 h3 {
    font-size: 1.7em;
    letter-spacing: 1px;
    line-height: 1.5em;
	}
	.w3-about-grid-left2 h4 {
    width: 31%;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
   
    margin-top: 0.5em;
	}
	.w3l_footer_pos p {
    font-size: 0.9em;
	}
	.cd-stretchy-nav {
    right: 0.5%;
	}
}
@media(max-width:320px){
	.w3-banner-grids {
    padding: 2em 0 0 0;
	}
	.w3-about-grid-left2 h4 {
    width: 36%;
	}
	.w3-about-grid-right1 h3 {
    line-height: 1.5em;
	}
	.w3-about-grid-right1 h5 {
    font-size: 1.2em;
    line-height: 1.5em;
	}
	.w3-about-grid-left2 h3 {
    letter-spacing: 1px;
    font-size: 1.5em;
    line-height: 1.5em;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 0px 6px 14px;
	}
	.jm-item-image {
    width: 238px;
    height: 266px;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 9px 6px 20px;
	}
	.title-w3ls h4, .w3ls-heading h3, .w3-gallery-head h3, .w3-about-head h3 {
    font-size: 2.5em;
	}
	.w3-edu-grid-header h3 {
    font-size: 2.5em;
	}
	.w3l_footer_pos {
    margin-top: 1em;
	}
	.w3-about-grid-left2 h4 {
    width: 38%;
	}
	.title-w3ls h4, .w3ls-heading h3, .w3-gallery-head h3, .w3-about-head h3 {
    font-size: 2em;
	}
	.w3-edu-grid-header h3 {
    font-size: 2em;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 9px 21px 21px;
	}
	.contact input[type="submit"] {
    width: 39%;
	}
	.cd-stretchy-nav {
    right: 3.5%;
    top: 16px;
	}
}
/*-- /responsive design --*/